img {
  max-height: 200px;
  width: 100px;
}

li {
  display: flex;
}

.movie-desc {
  margin-left: 3%;
  height: 200px;
}

.movie-desc div {
  margin-bottom: 15px;
}

.seatsContainer {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
}

.seats {
  color: green;
}

.occupied {
  color: red;
}

.visitor {
  display: flex;
}

.invisible {
  display: none;
}